<div class="row clearfix">
		<div class="col-md-12 column">
      <div class="row">
          <div class="col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3>
                  Thumbnail label <app-click></app-click>
                </h3>
                 
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1525082510&di=6dfcf2c1f71d3cea94b877a3903d5bb4&src=http://upload.news.cecb2b.com/2014/0103/1388720246798.jpg" />
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108314562&di=d0947289cca36e4747387290e842ce57&imgtype=0&src=http%3A%2F%2Fc.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2Fac6eddc451da81cbe337459b5e66d01608243197.jpg" />
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1525082510&di=6dfcf2c1f71d3cea94b877a3903d5bb4&src=http://upload.news.cecb2b.com/2014/0103/1388720246798.jpg" />
               
              </div>
            </div>
            
          </div>
          <div class="col-md-12">
            <div class="thumbnail">
             <div class="caption">
                <h3>
                  Thumbnail label<app-click></app-click>
                </h3>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1525082510&di=6dfcf2c1f71d3cea94b877a3903d5bb4&src=http://upload.news.cecb2b.com/2014/0103/1388720246798.jpg" />
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108364790&di=e9c77e82ad5459b4b4337fd1010e9861&imgtype=0&src=http%3A%2F%2Fc.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2Fe1fe9925bc315c609e11bbb781b1cb13485477e6.jpg" />
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108314561&di=8315be64ecdda261ad679dd7166f9dbe&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F21a4462309f790525fe7185100f3d7ca7acbd5e1.jpg" />
               
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3>
                  Thumbnail label<app-click></app-click>
                </h3>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1525082510&di=6dfcf2c1f71d3cea94b877a3903d5bb4&src=http://upload.news.cecb2b.com/2014/0103/1388720246798.jpg" />
                <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108314562&di=04860be3cdbe294948b15f820fb40d2a&imgtype=0&src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2Fbd315c6034a85edff62cdd7045540923dc5475c4.jpg" />
                
              </div>
            </div>
          </div>
          <div class="col-md-12">
              <div class="thumbnail">
                <div class="caption">
                  <h3>
                    Thumbnail label<app-click></app-click>
                  </h3>
                  <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  </p>
                  <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108461509&di=76fea8eba4134df3de14744e73d3fa5b&imgtype=0&src=http%3A%2F%2Fa.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F503d269759ee3d6d453aab8b48166d224e4adef5.jpg" />
                  <img class="imgSmall" alt="300x200" data-toggle="modal" data-target="#myModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108461507&di=1b1755d3479ed0b9bbe936d3c0afc1dc&imgtype=0&src=http%3A%2F%2Fa.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F4e4a20a4462309f788a28152790e0cf3d6cad6a4.jpg" />
                  
                </div>
              </div>
            </div>
        </div>
        
		</div>
  </div>
  <app-modal></app-modal>