<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
               
              </h4>
            </div>
        <div class="modal-body">
         <img class="imgModal" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525108461507&di=1b1755d3479ed0b9bbe936d3c0afc1dc&imgtype=0&src=http%3A%2F%2Fa.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F4e4a20a4462309f788a28152790e0cf3d6cad6a4.jpg"/>
        </div>
      </div>
    </div>
  </div>